
#prod-image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;

} 


#your-cart {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}


.checkout-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.checkout-product {
    grid-column: 1;
    margin: 20px;
    width: 400px;
    margin-left: 150px;
    margin-top: 40px;

}


.stripe-container {
    grid-column: 2;
    margin: 20px;
    width: 400px;
    margin-left: 300px;
    grid-area: middle;
    position: fixed;
    left: 550px;

}

#shopping-cart {
    vertical-align: middle;
}

#dividerer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-bottom: 30px;
    padding-top: 10px;
}


#checkout-header {
    text-align: center;
    letter-spacing: 10px;
}

#header-name-product {
    text-align: center;
    margin: auto;
    padding: 10px;
    color: #A38A61;
    font-size: 15px;
    border: 1px solid white;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#subtotal {
    text-align: right;
    font-size: 17px;
    color: #c9b187;
}


#stripe-button {
    background-color: #A18961;
    padding: 8px;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 20px;
    text-align: center;

}

#stripe-button:hover {
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
    background-color: black;
    border: 1px solid #A18961;
}


.stripe-container p {
    padding: 10px;
    font-size: 8px;
}

#cancel-button {
    color: #A18961;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    font-size: 10px;
    margin-left: 360px;
}


#cancel-button:hover {
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
    color: lightgrey;
}

#order-number, #order-status, #order-date {
    text-align: right;
    font-size: 11px;
}

#unit-price, #unit-quantity {
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 10px;
}

#total-price {
    text-transform: uppercase;
    font-size: 20px;
}