

 #productlist-image {
     width: 200px; 
     height: 250px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     margin-bottom: 20px;
 }


 .products-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    border-radius: 10px;
    vertical-align: top;
}

.product-list-name {
    text-align: center;
    border: 1px solid #A38A61;
    margin-bottom: 20px;
    margin: auto;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}


.products-card {
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 15px;
}

.products-card:before {
    content: '';
    background: linear-gradient(45deg,#bf953f, #fcf6ba, #b38728, #fbf3b7, #aa771c );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.products-card:active:after {
    background: transparent;
}

.products-card:hover:before {
    opacity: 1;
}

.products-card:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px 10px 10px 10px;
}

#product-link {
    text-decoration: none;
}


#create-product {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #A18961;
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    border-radius: 15px;
    border: none;
}

#create-product:hover {
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
    background-color: black;
    border: 1px solid #A18961;
}

#horizontal {
    margin: 20px;
}

.product-list-price {
    text-align: right;
    color: #A18961;
}

.product-list-category {
    text-transform: uppercase;
    font-size: 12px;
}